fastapi
uvicorn[standard]
sqlalchemy

psycopg2-binary
pymysql

google-generativeai
pydantic[email]
python-multipart
python-jose
cryptography
python-dotenv
passlib[bcrypt]

transformers
librosa
soundfile
numpy
torch